* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: azure;
}
h1,h3  {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}
img {
    width: 100%;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (min-width: 992px) {
    .one-half,
    .one-third,
    .one-fourth,
    .one-sixth,
    .one-eighth {
        float: left;
        width: 100%;
        padding: 0 10px;
    }

    .one-half {
        width: 50%;
    }

    .one-third {
        width: 33.333%;
    }

    .one-fourth {
        width: 25%;
    }

    .one-eighth {
        width: 12.5%;
    }

    .one-sixth {
        width: 16.6%;
    }
    .two-thirds {
        width: 66.666%;
    }
}
